<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<h1>Acknowledgements</h1>
<p>This page lists all security incidents of {{project_name}}</p>

{% if reports.len() != 0 %}
    <div id="reportList">
        {% for report in reports %}
            {% let anchor = report.anchor_key.as_ref().unwrap() %}
            <div class="report" id={{ anchor }}>
                <h4 class="date">
                    <a href=#{{ anchor }}>{{ report.date }}</a>
                </h4>
                <p class="affectedService"> Affected: {{ report.affected_service }}</p>

                {% match report.reporter_handle %}
                    {% when Some with (reporter_handle) %}
                        <p class="reporter">Reporter: {{ report.reporter }} ({{ reporter_handle }})</p>
                    {% when None %}
                        <p class="reporter">Reporter: {{ report.reporter }}</p>
                {% endmatch %}
                
                <p class="summary">{{ report.summary }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h3>There hasn't been any reports submitted! Hopefully that's a good thing.</h3>
{% endif %}

<script type="text/javascript">
    function sDiv() {
        if (!location.hash.length || !document.getElementById(location.hash)) { 
            return 
        }
    }
    sDiv();
</script>
